<form action="/dashboard/addstation" method="POST">
  <div class="columns">
        <div class="field column">
            <label class="label">Station Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Name" name="name" required>
            </div>
        </div>
        <div class="field column">
            <label class="label">Latitude</label>
            <div class="control">
                <input class="input" type="double" placeholder="Latitude" name="latitude">
            </div>
        </div>
        <div class="field column">
            <label class="label">Longitude</label>
            <div class="control">
                <input class="input" type="double" placeholder="Longitude" name="longitude">
            </div>
        </div>
    </div>
    <div class="field mt-4">
        <div class="control">
             <button class="button is-link">Add Station</button>
        </div>
    </div>
</form>