{{> menu active="about"}}

<div class="content box">
  <p>
<!-- spacing-->
  </p>
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Active Members</p>
        <p class="title">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total Weather Stations</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Readings Submitted Annually</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Third Party Users</p>
        <p class="title">789</p>
      </div>
    </div>
  </nav>
  <div class="content box">
    <div class="columns">
      <div class="column has-text-centered is-size-5">
        <figure class="image">
          <img src = "../images/globeweather.jpg">
        </figure>
        <br>
        Here at WeatherTop Inc. we want to create a community of weather nutters!
        We want to give our members the flexibility to share their weather data locally, internationally or
        however they prefer.
      </div>
      <div class="column">
        <div class="column has-text-centered is-size-5">
          We are concerned about climate change and weather trends.
          <br><br><br>
          <figure class="image">
            <img src = "../images/Photo-of-Isabela-Le-Bras-scaled.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p>
    A Weather Application - Version 1. Prepared by WeatherTop Inc., Ballybough, Dublin 3.
  </p>
</div>



{{!-- <section class="box is-3 has-text-centered">
  <h3 class="title">
    Template Application
  </h3>
  <div class="section">
    Description of the app here...
  </div>
</section> --}}