{{> menu active="api"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Latest Weather Reading From OpenWeather API
  </h3>
  <div class="section">
    <h3 class="is-5 title">
      Timezone/City
    </h3>
      {{reading.timezone}}
  </div>
  <div class="section">
    {{> list-api-readings}}
  </div>
  <section class="section">
    <form action="/api/generatereport" method="POST">
    <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Latitude</label>
            <input class="input" type="text" placeholder="52.160858" name="lat" required>
          </div>
          <div class="field">
            <label class="label">Longitude</label>
            <input class="input" type="text" placeholder="-7.152420" name="lng" required>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <button class="button is-link">Generate API Reading</button>
      </div>
       <br>
      <div class="box" id="chart"></div>
      <div>
        <script>
          const data = {
            labels: [
              {{#each reading.trendLabels}}
                "{{this}}",
              {{/each}}
            ],
            datasets: [
              {
                name: "Temperature", type: "line",
                values: [
                  {{#each reading.tempTrend}}
                    {{this}},
                  {{/each}}
                ]
              }
            ]
          }

          const chart = new frappe.Chart("#chart", {
            title: "Temperature Trend From API Reading",
            data: data,
            type: 'line',
            height: 250,
          })
        </script>
        

              <h1>My First Google Map</h1>

              <div id="googleMap" style="width:100%;height:400px;"></div>

              <script>
                function myMap() {
                var mapProp= {
                  center:new google.maps.LatLng(51.508742,-0.120850),
                  zoom:5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                }
              </script>

              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3EZ0hE84HVYZJhbtQuvyZb5Ejm_WUP8Q&callback=myMap"></script>


      </div>
    </form>
  </section>
</section>