{{> menu active="api"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Latest Weather Reading From OpenWeather API
  </h3>
  <div class="section">
    <h3 class="is-5 title">
      Timezone/City
    </h3>
      {{reading.timezone}}
  </div>
  <div class="section">
    {{> list-api-readings}}
  </div>
  <section class="section">
    <form action="/api/addreport" method="POST">
    <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Latitude</label>
            <input class="input" type="text" placeholder="52.160858" name="lat">
          </div>
          <div class="field">
            <label class="label">Longitude</label>
            <input class="input" type="text" placeholder="-7.152420" name="lng">
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <button class="button is-link">Create API Reading</button>
      </div><br>
      <div class="box" id="chart"></div>
      <div>
        <script>
          const data = {
            labels: [
              {{#each reading.trendLabels}}
                "{{this}}",
              {{/each}}
            ],
            datasets: [
              {
                name: "Temperature", type: "line",
                values: [
                  {{#each reading.tempTrend}}
                    {{this}},
                  {{/each}}
                ]
              }
            ]
          }

          const chart = new frappe.Chart("#chart", {
            title: "Temperature Trend From API Reading",
            data: data,
            type: 'line',
            height: 250,
          })
        </script>
      </div>
    </form>
  </section>
</section>