{{> welcome-menu}}


{{!-- <div class="content box">
    <div class="columns">
        <div class="column has-text-centered is-size-3">
            <br><br>
            Hi fellow Meteorological enthusiasts!!
            This is a small app for Irish National Meteorological members and enthusiasts to record readings
            from a weather station. This app will allow members to create, manage and share station readings.
        </div>
        <div class="column">
            <figure class="image is-image is-1by1">
                <img src = "C:\Users\dermi\weathertop1000-v2-glitch\weathertop1000-v2-glitch\public\images\weatherstation.jpg">
            </figure>
        </div>
    </div>
</div> --}}

<body>
  <div class='container has-text-centered'>
    <div class='columns is-mobile is-centered'>
      <div class='column is-7'>
        <div>
        </div>
        <div class='box'>
          <div>
            <figure class="image is-5by3">
              <img src="C:\Users\dermi\weathertop1000-v2-glitch\weathertop1000-v2-glitch\public\images\weatherstation.jpg">
            </figure>
          </div>
          <div>
            <p>
            Hi fellow Meteorological enthusiasts!!
            This is a small app for Irish National Meteorological members and enthusiasts to record readings
            from a weather station. This app will allow members to create, manage and share station readings.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{!-- <section class="section">
  <p> Sign up or Log in... </p>
</section> --}}